*{
    margin: 0;
    padding: 0;
}

form{
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}

div{
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
}

.send{
    display: flex;
    justify-content: center;
    grid-column-start: 1;
    grid-column-end: 3;
}

.red{
    color: red;
    max-width: 200px;
}

input{
    width: 200px;
}

.sends{
    width: 100px;
}