<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Интернет-магазин</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;200;400;700;800&display=swap"
          rel="stylesheet">
</head>
<body>
<div id="app">
    <header class="header ">
        <div class="container header-flex">
            <div class="logo">Shop</div>
            <form action="#" class="search-form">
                <input type="text" class="search-field" v-model="userSearch">
                <input  class="btn-search" @click="filter()" type="submit" value="Search">
            </form>
            <div class="btn-cart">
                <button class="btn-cart-btn" @click="toggleVisible('.cart')" type="button">Корзина</button>
                <div class="cart invisible">
<!--                <div class="cart ">-->

                    <div class="cart-item" v-for="product of productsCart" :key="product.id_product"
                         :data-id="product.id_product">
                        <div class="left-block">
                            <img class="cart-image"  :src="imgCart" alt="image">
                            <div class="product-list">
                                <p class="product-name">Наименование: {{product.product_name}}</p>
                                <p class="product-price">Цена: ${{product.price}}</p>
                                <p class="product-number">Количество: {{product.quantity}}</p>
                            </div>
                        </div>
                        <div class="right-block">
                            <p class="product-cost">Стоимость: ${{product.price*product.quantity}}</p>
                            <button class="del-btn" @click="removeProduct(product)" :data-id="product.id_product">&times;</button>
                        </div>
                    </div>

                    <div class="products-price">
                        <p > Кол-во наименований: {{countGoods}}</p>
                        <p > Итого: ${{amount}}</p>
                    </div>

                </div>
            </div>
        </div>
    </header>
    <main class="container">
        <div class="products products-flex">

            <div class="product-item" v-for="product of products" :key="product.id_product"
                 :data-id="product.id_product">
                <div class=""><img :src="imgCatalog" alt="image"></div>
                <h3>{{product.product_name}}</h3>
                <p>$ {{product.price}}</p>

                <input type="button" class="buy-btn" @click="addProduct(product)" value="Купить"
                       :data-id="product.id_product"
                       :data-name="product.product_name"
                       :data-price="product.price">
            </div>
        </div>

    </main>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="js/mainVue.js"></script>
<!--<script src="js/main.js"></script>-->
</body>
</html>